@import url('https://fonts.googleapis.com/css?family=Lora|Open+Sans');
html,
body {
  width:100%;
  height:100%;
  margin:0;
  padding:0;
}
#container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width:600px;
}
#background {
  height:300px;
  width:600px;
  background-size:600px 300px;
  background-position:-50% -50%;
  background-repeat:no-repeat;
  z-index:-100;
}
#description {
  font-family: 'Lora', serif;
  text-align:center;
  width:100%;
  border:1px solid #999;
  padding:10px 20px;
  box-sizing:border-box;
}
#choices {
  margin-top:10px;
  text-align:center;
}
#choices button {
  font-family: 'Open Sans', sans-serif;
  background:white;
  border:#999 solid 1px;
  margin-left:10px;
  padding: 5px;
  box-sizing:border-box;
  cursor:pointer;
}
#choices button:first-child {
  margin-left:0;
}